---
import cheerio from 'cheerio'
import webflowConfig from '../../webflow.config'

console.log(`webflowConfig`, webflowConfig)

export let htmlAttrs = {}
export let bodyHtml = ``
export let bodyAttrs = {}
export let headHtml = ``
export let headAttrs = {}

// Proxy Webflow site in development
if(import.meta.env.MODE !== `production`) {
	let site = webflowConfig.webflowUrl

	// Get full path to proxy
	if(site.endsWith(`/`)) site = site.slice(0, -1)
	let { path } = Astro.params
	if(!path) path = ``
	const proxyPath = `${site}/${path}`

	// Get HTML from Webflow
	const res = await fetch(proxyPath)
	const html = await res.text()

	// Split up HTMl and attributes
	const $ = cheerio.load(html)
	htmlAttrs = $(`html`).attr()
	bodyHtml = $(`body`).html()
	bodyAttrs = $(`body`).attr()
	headHtml = $(`head`).html()
	headAttrs = $(`head`).attr()
}
else{
	Astro.response.status = 404
}
---

<html {...htmlAttrs}>
	<head {...headAttrs} set:html={headHtml}></head>
	
	<body {...bodyAttrs} set:html={bodyHtml}>
		
		<script src='../js/index.js'></script>
	</body>
</html>
